<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteamMarketApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteamMarketApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteamMarketApp.Properties.Settings>
            <setting name="AccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="IsRemembered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastApiMarketCallTimestamp" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiMarketCallPeriod" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="SteamLoginSecure" serializeAs="String">
                <value />
            </setting>
            <setting name="LastApiInventoryCallTimestamp" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiInventoryCallPeriod" serializeAs="String">
                <value>00:00:00</value>
            </setting>
        </SteamMarketApp.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SteamMarketApp.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>mongodb://localhost:27017</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>steam_market_database</value>
            </setting>
        </SteamMarketApp.Properties.Settings>
    </applicationSettings>
</configuration>